# Remember to list implicit packages here, otherwise version won't be fixated!
mock
unittest2
nose
psutil
webtest
nose-timer
nose-parallel
rednose
RandomWords
pyrabbit
setuptools>=78.1.1 # not directly required, pinned by Snyk to avoid a vulnerability
