# Remember to list implicit packages here, otherwise version won't be fixated!
apscheduler
python-dateutil
eventlet
jsonpath-rw
jsonschema
kombu
oslo.config
six
requests>=2.32.4 # not directly required, pinned by Snyk to avoid a vulnerability
