# Remember to list implicit packages here, otherwise version won't be fixated!
eventlet
jsonschema
kombu
mongoengine
pymongo
oslo.config
oslo.utils
pyparsing
pymongo
six
gunicorn
simplejson
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
